/resources/public/js/compiled/**
figwheel_server.log
.DS_Store
pom.xml
*jar
/lib/
/classes/
/out/
ui/target/
.lein-deps-sum
.lein-repl-history
.lein-failures
.lein-plugins/
.lein-env
.cljs_rhino_repl
.repl
.nrepl-port
build
resources/public/js/
ui/resources/public/js/
